/build-aux
*.o
/pigz
/unpigz
/pigzj
/pigzt
/pigzn
Makefile.in
Makefile
aclocal.m4
config*
lib/.deps/
lib/.dirstamp
lib/zopfli/.deps/
lib/zopfli/.dirstamp
lib/stamp-h1
src/.deps/
src/.dirstamp
lib/time.h
build-aux
autom4te.cache/
m4/
lib/.gitignore
lib/libpigz.a
*.tar.gz
tags
lib/dummy.c
lib/Makefile.am
lib/arg-nonnull.h
lib/c++defs.h
lib/pthread.c
lib/pthread.in.h
lib/sched.in.h
lib/stddef.in.h
lib/time.in.h
lib/warn-on-use.h
lib/_Noreturn.h
lib/basename-lgpl.c
lib/dirname-lgpl.c
lib/dirname.h
lib/dosname.h
lib/errno.in.h
lib/error.c
lib/error.h
lib/exitfail.c
lib/exitfail.h
lib/getprogname.c
lib/getprogname.h
lib/gettext.h
lib/intprops.h
lib/limits.in.h
lib/malloc.c
lib/math.h
lib/msvc-inval.c
lib/msvc-inval.h
lib/msvc-nothrow.c
lib/msvc-nothrow.h
lib/stdbool.in.h
lib/stdint.in.h
lib/stdio.in.h
lib/stdlib.in.h
lib/strerror-override.c
lib/strerror-override.h
lib/strerror.c
lib/string.in.h
lib/stripslash.c
lib/sys_types.in.h
lib/unistd.c
lib/unistd.in.h
lib/verify.h
lib/xalloc-die.c
lib/xalloc-oversized.h
lib/xalloc.h
lib/xmalloc.c
lib/limits.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/*
lib/unistd.h
